<% include ./head %>

<body class="container">

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Sound Online</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/user/index">Brugere</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/brand/index">Brands</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/product/index">Produkter</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="mainwrapper">
            <div class="adminpanel">
                <div id="headerspanel">
                    <h1><%= modulename %></h1>
                    <h2><%= modulemode %></h2>
                </div>
                <div id="buttonpanel">

                </div>
            </div>