<!-- views/pages/index.ejs -->
<% include ../../../partials/header %>    
       
<div id="details"></div>

<script>
    //Sætter vars til id og url
    const id = <%= id %>;
    const url = '/api/user/' + id;

    //Fetcher data fra API
    fetch(url)
        .then(data => {
            return data.json();
        })
        .then(data => {
            let captions = {
                'firstname': 'Fornavn',
                'lastname': 'Efternavn',
                'email': 'Email'
            }

            //Bygger html table med data og injecter det i div#details 
            let html = `<table class="table">`;
            for(const item in data[0]) {
                if(captions[item]) {
                    html += `<tr>
                                <td width="15%"><b>${captions[item]}:</b></td>
                                <td>${data[0][item]}</td>
                            </tr>`;
                }
            }
            html += `</table>`;
            document.getElementById('details').innerHTML = html;
        });

        //Udskriver knapper til Oversigt og Rediger via Javascripts createElement
        doButton('/admin/user/update/' + id, 'Rediger');        
        doButton('/admin/user/index', 'Oversigt');        
</script>
<% include ../../../partials/footer %>
