/* Login Window */
#login { 
    display: block; 
    background: #333; 
    padding: 2%; 
}

#login>div { 
    width: 100%; 
    max-width: 400px; 
    padding: 20px 0px; 
    background: #fff; 
    border-radius: 10px; 
    border: solid 6px #000; 
    margin: 0 auto; 
    box-shadow: 2px 2px 30px #000; 
    margin-top: 10%; 
}

#login #logo { 
    text-align: center; 
    float: none;
}

#errormsg {
    margin: 0 12%;
    width: 76%;
}

#login .form-group { 
    margin: 15px auto; 
    width: 80%; 
    max-width: 300px; 
}